<div class="mainsection">
  <div class="container">
    <div class="main-todo-div">
      <div class="inner-div-todo">
        <div class="d-flex align-items-center">
          <div class="me-3">
            <div>
              <h2 class="font-semibold family-auto m-0">{{ title }}</h2>
              <h4 class="font-semibold mt-2">Forgot Your Password?</h4>
              <p>Enter your registered email below to recive code!</p>
            </div>
            <div>
              <form
                [formGroup]="passwordForgot"
                (ngSubmit)="forgotPassword(passwordForgot.value)"
              >
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <div class="responsive-icon">
                    <input
                      type="email"
                      class="form-control form-css"
                      placeholder="Enter your email address"
                      formControlName="email"
                      required
                    />
                    <i
                      class="fas fa-times password-icon-css-invalid"
                      matSuffix
                      *ngIf="
                        passwordForgot.controls['email'].invalid &&
                        passwordForgot.controls['email'].touched
                      "
                    ></i>
                    <i
                      class="fas fa-check password-icon-css-valid"
                      matSuffix
                      *ngIf="passwordForgot.controls['email'].valid"
                    ></i>
                    <i class="fas fa-envelope main-icon-form-inner"></i>
                  </div>
                  <div
                    *ngIf="submit && passwordForgotFormController.email.errors"
                  >
                    <p
                      *ngIf="passwordForgotFormController.email.errors.required"
                      class="error-in-validation"
                    >
                      Field is Required !
                    </p>
                    <p
                      *ngIf="passwordForgotFormController.email.errors.pattern"
                      class="error-in-validation"
                    >
                      Email must be a valid
                    </p>
                  </div>
                </div>
                <div>
                  <button
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    type="submit"
                    class="btn btn-danger w-100 btn-custom-modal"
                  >
                    Send
                  </button>
                  <div *ngIf="passwordForgot.controls['email'].valid">
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <form [formGroup]="passwordForgot">
                            <div class="modal-body">
                              <div class="text-center">
                                <div class="mb-3">
                                  <div>
                                    <img
                                      src="{{ emailimage }}"
                                      alt="{{ emailimagealt }}"
                                      class="img-fluid"
                                    />
                                  </div>
                                  <div class="emailsend-inner-text">
                                    <h3>Email has been sent</h3>
                                    <h6>
                                      Please check your inbox and click in the
                                      received link to reset your password
                                    </h6>
                                  </div>
                                  <div>
                                    <button
                                      type="submit"
                                      class="btn btn-danger"
                                      (click)="sendEmail()"
                                      data-bs-dismiss="modal"
                                    >
                                      Login
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn btn-outline-secondary w-100 mt-3"
                  routerLink="/"
                >
                  Login
                </button>
              </form>
            </div>
          </div>
          <div>
            <img
              src="{{ forgetImage }}"
              alt="{{ forgetImg }}"
              class="img-fluid d-none d-lg-block"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
