//color variables
$white: #FFFFFF;
$black: #000000;
$background-color-all:#d4dadc;
$background-color-number:#faebd7;

$color-primary: #dc3545;
$color-accent-1: #353739;
$color-accent-2: #707070;
$color-accent-3: #8C8C8F;
$color-accent-4: #373434;
$color-accent-5: #191919;
$color-accent-6: #5AA329;
$color-accent-7: #2B2E35;
$color-accent-8: #20CCA6;
$color-accent-9: #E9AB34;
$color-accent-10: #F3F2F2;
$color-accent-11: #818181;
$color-accent-12: #474C4F;
$color-accent-13: #262626;
$color-accent-14: #E6E6E6;
$color-accent-15: #DFDFDF;
$color-accent-16: #E4E4E4;
$color-accent-17: #A0A1A2;
$color-accent-18: #5EAD27;
$color-accent-19: #8E8E8E;
$color-accent-20: #D4D4D4;
$color-accent-21: #353739;
$color-accent-22: #FBF8F6;
$color-accent-23: #55ACEE;
$color-accent-24: #979797;
$color-accent-25: #EBEBEB63;
$color-accent-26: #EBEBEB;
$color-accent-27: #102694;
$color-accent-28: #E1E1E1;
$color-accent-29: #F3F3F3;
$color-accent-30: #3B5998;
$color-accent-31: #5FB1E0;
$color-accent-32: #2E9CE5;
$color-accent-33: #4CAF50;
$color-accent-34: #F6F6F6;
$color-accent-35: #9F9F9F;
$color-accent-36: #FFA200;







$footer-bg-color: #222222;


// Small tablets and large smartphones (landscape view)
$screen-sm-max: 575px;

// Small tablets (portrait view)
$screen-md-max: 767px;

// Tablets and small desktops
$screen-lg-max: 991px;

// Large tablets and desktops
$screen-xl-max: 1199px;