<div class="section__dashboard">
  <div class="main__home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid container">
        <a class="navbar-brand" href="#">
          <h3>TODO APP</h3>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-flex justify-content-end"
          id="navbarSupportedContent"
        >
          <div class="d-flex">
            <ul
              class="
                navbar-nav
                me-auto
                mb-2 mb-lg-0
                d-flex
                align-items-baseline
              "
            >
              <li class="nav-item">
                <div class="inner__section__task_list">
                  <a class="nav-link active" aria-current="page" href="#">
                    <p class="custom_padding">AK</p>
                  </a>
                </div>
              </li>
              <li class="nav-item">
                <button class="nav-link logout__button__demo" routerLink="/login">
                  <i class="fas fa-sign-out-alt me-1"></i>Logout
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <section>
    <div class="container">
      <div class="d-flex justify-content-between mt-4">
        <div class="inner__home__first_part">
          <h3>{{ currentDate | date }}</h3>
          <p>
            You keep up the place to accomplish your task in time
            <i class="far fa-clock"></i>
          </p>
        </div>
        <div>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-danger w-100 btn__custom__modal"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Create new Task
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Create task
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <form [formGroup]="formValue">
                  <div class="modal-body">
                    <div>
                      <div class="mb-3">
                        <label for="taskname" class="form-label"
                          >Task name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="taskname"
                          placeholder="Enter task name"
                          formControlName="taskname"
                          required
                        />
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div>
                            <label for="chooselist" class="form-label"
                              >Choose list</label
                            >
                            <select
                              class="form-select"
                              id="chooselist"
                              aria-label="Default select example"
                              formControlName="chooselist"
                              name="chooselist"
                              required
                            >
                              <option selected hidden>Choose list name</option>
                              <option *ngFor="let list of listData">
                                {{ list.listname }}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div>
                            <label for="choosepriority" class="form-label">
                              Choose priority</label
                            >
                            <select
                              class="form-select"
                              id="choosepriority"
                              aria-label="Default select example"
                              formControlName="choosepriority"
                              name="choosepriority"
                              required
                            >
                              <option selected hidden>Choose priority</option>
                              <option *ngFor="let list of priorityList">
                                {{ list.name }}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div>
                            <label for="dateandtime" class="form-label"
                              >Select date</label
                            >
                            <input
                              type="date"
                              class="form-control"
                              id="dateandtime"
                              placeholder="Choose date"
                              formControlName="date"
                              required
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      data-bs-dismiss="modal"
                      id="cancel"
                    >
                      Cancel
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="postTaskDetails()"
                    >
                      Add task
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div>
        <h2 class="m-0">Overview</h2>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="part_overview_section">
            <div>
              <img
                src="{{ todaytask }}"
                alt="{{ todaytas }}"
                class="img-fluid me-4"
              />
            </div>
            <div>
              <h6>Today's tasks</h6>
              <h5>5</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="part_overview_section">
            <div>
              <img
                src="{{ upcommingtasks }}"
                alt="{{ upcommingtask }}"
                class="img-fluid me-4"
              />
            </div>
            <div>
              <h6>Upcomming tasks</h6>
              <h5>5</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="part_overview_section">
            <div>
              <img
                src="{{ overduetasks }}"
                alt="{{ overduetask }}"
                class="img-fluid me-4"
              />
            </div>
            <div>
              <h6>Overdue tasks</h6>
              <h5>5</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mt-5">
    <div class="row">
      <div class="col-lg-5">
        <div class="inner__section__task_list">
          <h6>Today's task</h6>
          <p>5</p>
        </div>
        <div class="main__table__inner__dashboard">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr *ngFor="let row of taskData; let i = index">
                  <td>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked"
                        (click)="deleteTask(row.id)"
                      />
                      <label class="form-check-label" for="flexCheckChecked">
                        <div class="text-capitalize">{{ row.taskname }}</div>
                        <div class="inner__checkbox_chooselist">
                          <p>{{ row.chooselist }}</p>
                        </div>
                      </label>
                    </div>
                  </td>
                  <td>
                    <div
                      class="priority__custom_css"
                      [ngClass]="{
                        my_class1: i === 0,
                        my_class2: i === 1,
                        my_class3: i === 2
                      }"
                    >
                      {{ row.choosepriority }}
                    </div>
                  </td>
                  <!-- <td>
              <button class="btn btn-info">Edit</button>
              <button class="btn btn-danger mx-3" (click)="deleteTask(row.id)">Delete</button>
            </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="inner__section__task_list">
          <h6>List Names</h6>
          <div>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-outline-danger w-100 btn__custom__modal"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal2"
            >
              Create new List
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal2"
              tabindex="-1"
              aria-labelledby="exampleModalLabel2"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">
                      Create task
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <form [formGroup]="formList">
                    <div class="modal-body">
                      <div>
                        <div class="mb-3">
                          <label for="listname" class="form-label"
                            >List name</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="listname"
                            placeholder="Enter list name"
                            formControlName="listname"
                            name="listname"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal"
                        id="close"
                      >
                        Cancel
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="postListnameDetails()"
                      >
                        Add task
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main__table__inner__dashboard">
          <div *ngFor="let list of listData">
            <mat-accordion>
              <mat-expansion-panel class="inner__expansion__accordion">
                <mat-expansion-panel-header class="inner__header__accordion">
                  <mat-panel-title>
                    <div>
                      <p>{{ list.listname }}</p>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="main__table__inner__dashboard" *ngFor="let row of taskData">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="flexCheckChecked2"
                              />
                              <label
                                class="form-check-label"
                                for="flexCheckChecked2"
                              >
                                <div class="text-capitalize">
                                  {{ row.taskname }}
                                </div>
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="priority__custom_css">
                              {{ row.choosepriority }}
                            </div>
                          </td>
                          <td>
                            <div class="priority__custom_css">
                              {{ row.date }}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
