@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.font__light{
    font-weight: 300 !important;
}
.font__light_semi{
    font-weight: 350 !important;
}
.font__regular{
    font-weight: 400 !important;
}
.font__medium{
    font-weight: 500 !important;
}
.font__semibold{
    font-weight: 600 !important;
}
.font__bold{
    font-weight: 700 !important;
}
.font__extrabold{
    font-weight: 800 !important;
}
.font__black{
    font-weight: 900 !important;
}

/*text size*/
.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}
.font-21 {
    font-size: 21px;
}
.font-22 {
    font-size: 22px;
}
.font-24 {
    font-size: 24px;
}
.font-26 {
    font-size: 26px;
}
/*text weight*/
