.section-dashboard {
    background-color: $background-color-dashboard;
    padding-bottom: 5%;

    .navbar>.container,
    .navbar>.container-fluid {
        align-items: baseline;
    }

    .main-home {
        h3 {
            color: $color-primary;
            font-size: 20px;
            font-weight: 500;
        }

        .logout-button-demo {
            border: none;
            background: transparent;
        }

        .navbar-nav {
            flex-direction: row;
        }
    }

    .btn-custom-modal {
        padding: 7px 20px;
        font-size: 15px;
    }

    .inner-home-first-part {
        p {
            color: $color-accent-2;
        }
    }

    .modal-dialog {
        max-width: 820px;

    }

    .part-overview-section {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-accent-5;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        background-color: $white;
        min-height: 120px;

        h6 {
            color: $color-accent-3;
            font-size: 20px;
            font-weight: 400;
        }

        h5 {
            font-size: 24px;
        }
    }

    .inner-section-task-list {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-top: 10px;

        @include lg {
            margin-right: 20px;
        }

        h6 {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 0;
        }

        p {
            color: $color-primary;
            border-radius: 50%;
            background: $color-accent-12;
            padding: 7px 17px;
            margin-bottom: 0;
        }

        .custom_padding {
            padding: 9px 14px;
        }
    }

    .main-table-inner-dashboard {
        border: 1px solid $color-accent-5;
        border-radius: 4px;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: $white;
        max-height: 250px;
        overflow: auto;
        .table > :not(:first-child){
            border-top:1px solid transparent;
        }
        .table {
            margin:0;
            tr:last-child {
                border-bottom: 1px solid transparent;
            }
            td{
                display: flex;
                justify-content:space-between;
                align-items: center;
            }
        }

        .empty-accordion-css {
            p {
                color: $color-accent-3;
                margin: 0;
                font-weight: 500;
            }
        }

        .taskname-css-demo {
            width: 150px;
        }

        .form-check {
            display: flex;
            align-items: center;
        }

        .custom-form-check {
            border: 1px solid $color-primary;
            padding: 10px;
            margin-right: 20px;
        }

        .custom-form-check-label {
            cursor: pointer;
        }

        .form-check-input:checked {
            background-color: $color-primary;
        }

        .text-align-date {
            text-align: end;

            @include sm {
                text-align: center;
                font-size: 13px;
            }
        }

        .inner-checkbox-chooselist-p {
            color: $color-accent-4;
            margin-bottom: 0;
            font-size: 13px;
            text-transform: capitalize;
        }

        .inner-expansion-accordion {
            box-shadow: none;
            .inner-header-accordion {
                border-bottom: 1px solid $color-accent-5;
                border-radius: 0;
                padding: 10px;

                h6 {
                    color: $color-primary;
                    border-radius: 50%;
                    background: $color-accent-12;
                    padding: 5px 12px;
                    margin: 0 10px;
                    font-size: 13px;
                }

                p {
                    text-transform: capitalize;
                }
            }
        }

        .priority-custom-css {
            text-align: end;
            margin-top: 10px;

            .priority-custom-css-inside {
                padding: 8px;
                border-radius: 6px;
            }
        }

        .priority-custom-css2 {
            text-align: start;
        }

        .myclasshigh {
            color: $color-primary;
            background-color: $color-accent-9;

        }

        .myclasslow {
            color: $color-accent-8;
            background-color: $color-accent-10;

        }

        .myclassmedium {
            color: $color-accent-6;
            background-color: $color-accent-10;

        }
    }

    .cusom-css-h5-modal {
        font-size: 20px;
        font-weight: 550;
    }

    .mat-expansion-panel-body {
        padding: 0;
    }

    .inner-class-select option {
        text-transform: capitalize;
    }
}
