.mainsection {
  background-color: $background-color-all;
  min-height: 100vh;
  font-family: auto;

  .not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;

    .fa-frown-open {
      font-size: 120px;
    }

    .error-responsive {
      text-align: center;
      margin-top: 20px;

      h2 {
        font-size: 40px;
      }

      h5 {
        font-size: 14px;
        max-width: 278px;
      }
    }
  }

  .main-todo-div {
    display: flex;
    justify-content: center;
    padding: 5% 0;

    .inner-div-todo {
      background-color: $white;
      padding: 20px 40px;
      border-radius: 10px;
      box-shadow: 0px 16px 16px $color-accent-11, 0px 24px 32px $color-accent-11;

      .btn {
        border-radius: 10px;
      }

      .error-in-validation {
        color: $color-primary;
        margin: 5px 0 0;
      }

      h2 {
        color: $color-primary;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 21px;
      }

      h4 {
        font-size: 20px;
        font-family: 'Font Awesome 5 Free';
      }

      p {
        margin-bottom: 20px;
        color: $color-accent-1;
        font-size: 14px;
      }

      .responsive-icon {
        position: relative;

        .form-css {
          padding: 3px 27px;
          line-height: 2;
        }

        .error-in-validation_form {
          border: 1px solid $color-primary;
        }

        .main-icon-form-inner {
          position: absolute;
          top: 14px;
          left: 10px;
          color: $color-accent-1;
          font-size: 13px;
        }

        .password-icon-css,
        .password-icon-css-invalid,
        .password-icon-css-valid {
          position: absolute;
        }

        .password-icon-css-invalid,
        .password-icon-css-valid {
          font-size: 13px;
          right: 10px;
          top: 13px;
        }

        .password-icon-css {
          color: $color-accent-1;
          font-size: 17px;
          cursor: pointer;
          top: 11px;
          right: 7px;
        }

        .password-icon-css-invalid {
          color: $color-primary;
        }

        .password-icon-css-valid {
          color: $color-accent-6;
        }
      }

      .forgot-password-css-inner {
        display: flex;
        justify-content: flex-end;

        a {
          color: $color-primary;
        }
      }

      .create-account-css {
        margin-top: 20px;

        p {
          a {
            color: $color-primary;
          }
        }
      }
    }

    .emailsend-inner-text {
      h3 {
        font-size: 22px;
      }

      h6 {
        font-size: 18px;
        color: $color-accent-2;
        padding: 0 25px;

      }
    }

  }
}
.ng-submitted {
  input {
    border: 1px solid $color-primary;
    transition: all 0.3s ease;
  }
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid $color-primary;
}

.form-control.ng-touched.ng-valid {
  border: 1px solid $color-accent-6;
}

.m-t25 {
  margin-top: 25px !important;
}