<div class="mainsection">
  <div class="container">
    <div class="main-todo-div">
      <div class="inner-div-todo">
        <div class="d-flex align-items-center">
          <div class="me-3">
            <div>
              <h2 class="font-semibold family-auto m-0">TODO APP</h2>
              <h4 class="font-semibold mt-2">Welcome to TODO App</h4>
              <p>Set your password!</p>
            </div>
            <div>
              <form
                #accountCreate="ngForm"
                [formGroup]="setPassword"
                (ngSubmit)="signUp(accountCreate.value)"
              >
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <div class="responsive-icon">
                    <input
                      formControlName="password"
                      name="password"
                      [type]="hide ? 'password' : 'text'"
                      class="form-control form-css"
                      placeholder="Enter your Password"
                      required
                    />
                    <i
                      class="material-icons password-icon-css"
                      matSuffix
                      (click)="hide = !hide"
                    >
                      {{ hide ? "visibility" : "visibility_off" }}
                    </i>
                    <i class="fas fa-lock main-icon-form-inner"></i>
                  </div>
                  <div *ngIf="submit && f.password.errors">
                    <p
                      *ngIf="f.password.errors.required"
                      class="error-in-validation"
                    >
                      Field is Required !
                    </p>
                    <p
                      *ngIf="f.password.errors.minlength"
                      class="error-in-validation"
                    >
                      Must be atleast 8 characters!
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label"
                    >Confirm Password</label
                  >
                  <div class="responsive-icon">
                    <input
                      formControlName="confirmpassword"
                      name="confirmpassword"
                      [type]="hide2 ? 'password' : 'text'"
                      class="form-control form-css"
                      placeholder="Enter your Confirm Password"
                      required
                    />
                    <i
                      class="material-icons password-icon-css"
                      matSuffix
                      (click)="hide2 = !hide2"
                    >
                      {{ hide2 ? "visibility" : "visibility_off" }}
                    </i>
                    <i class="fas fa-lock main-icon-form-inner"></i>
                  </div>
                  <div *ngIf="submit && f.confirmpassword.errors">
                    <p
                      *ngIf="f.confirmpassword.errors.required"
                      class="error-in-validation"
                    >
                      Field is Required !
                    </p>
                    <p
                      *ngIf="f.confirmpassword.errors.mustMatch"
                      class="error-in-validation"
                    >
                      Password do not match
                    </p>
                  </div>
                </div>
                <div class="forgot-password-css-inner">
                  <p><a routerLink="/forget-password">Forgot Password?</a></p>
                </div>
                <button type="submit" class="btn btn-danger w-100" click="createdAccount()">
                  Sign Up
                </button>
              </form>
              <div class="create-account-css">
                <p>
                  Not registered yet?
                  <a routerLink="/create-account">Create a new account</a>
                </p>
              </div>
            </div>
          </div>
          <div>
            <img
              src="{{ createImage }}"
              alt="{{ createImg }}"
              class="img-fluid d-none d-lg-block"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
