.btn {
    background-position: center !important;
    transition: background 0.5s !important;
    &:focus {
        box-shadow: none;
    }
}

@mixin btn($transform:uppercase, $radius:26px, $height:55px, $font-size:15px, $font-weight:500) {
    text-transform: $transform;
    border-radius: $radius;
    height: $height;
    font-size: $font-size;
    font-weight: $font-weight;
    @include sm {
        font-size: 12px !important;
        img {
            width: 10px;
        }
    }
}
.btn-danger{
    background-color: $color-primary;
  }