.help__card {
    .img__wrapper {
        overflow: hidden;

        a {
            img {
                transition: all 0.3s ease;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    .content__wrapper {
        background-color: $white;
        padding: 41px 32px 36px;

        p {
            @include text__discription(15px);
        }

        >a {
            text-decoration: none;
            color: $color-accent-1;
            transition: all 0.3s ease;
            font-size: 21px;
            display: inline-block;
            margin-bottom: 13px;
            font-weight: 500;
            outline: none !important;
            border: none !important;

            &:hover {
                color: $color-primary;
            }

            @include rwd(1399) {
                font-size: 18px;
                margin-bottom: 5px;
            }
        }

        .progress {
            background-color: $color-accent-10;
            border-radius: 0;
            height: 6px;
            margin: 25px 0 16px;

            .progress-bar {
                background-color: $color-primary;
            }

            @include rwd(1399) {
                margin-top: 10px;
            }
        }

        .progress__status {
            font-size: 12px;
            color: $color-accent-2;
            font-weight: 400;
            font-size: 16px;
        }

        .btn__help__donate {
            @include btn__white;
            text-transform: capitalize;
            margin-top: 16px;
        }

        @include md {
            padding: 26px;
        }
    }
    .min-height-project{
        min-height: 365px;
    }
}

.event__card {
    background-color: $white;

    .img__wrapper {
        overflow: hidden;

        a {
            img {
                transition: all 0.3s ease;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    .card__contents {
        padding: 26px 53px 38px;

        .date {
            color: $color-primary;
            font-size: 16px;
        }

        .card__title {
            color: $color-accent-1;
            font-weight: 500;
            margin: 3px 0 17px;
            font-size: 28px;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
                color: $color-primary;
            }

            @include rwd(1399) {
                font-size: 20px;
                margin: 3px 0 10px;
            }
        }

        @include md {
            padding: 29px;
        }
    }
}

.blog__card {
    background-color: $white;
    height: 100%;
    display: flex;
    flex-direction: column;

    p {
        @include text__discription(15px);
        line-height: 27px;
        margin: 18px 0 29px;
    }
}

.img__wrapper {
    position: relative;

    .wrapper__inner {
        overflow: hidden;
    }

    img {
        width: 100%;
        transition: all 0.3s ease;
    }

    .posted__date {
        @include flex__center;
        color: $white;
        font-size: 14px;
        width: 135px;
        height: 34px;
        background-color: $color-accent-11;
        font-weight: 300;
        border-radius: 18px;
        position: absolute;
        bottom: -15px;
        left: 20px;
    }

    &:hover {
        img {
            // transform: scale(1.1);
        }
    }
}

.card__contents {
    padding: 42px 29px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .card__title__link {
        color: $color-accent-1;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
            color: $color-primary;
        }

        @include rwd(1399) {
            font-size: 18px;
        }
    }

    .card__texts {
        color: $color-accent-3;
        font-size: 14px;
        line-height: 27px;
        margin: 18px 0 29px;

        @include rwd(1399) {
            font-size: 14px;
            margin: 12px 0 24px;
            line-height: 20px;
        }
    }

    .card__footer {
        margin-top: auto;
        p{
            margin:0;
        }
    }

    .readmore__link {
        color: $color-primary;
        text-decoration: none;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 16px;

        img {
            margin-left: 23px;
            transition: all 0.2s ease;

            @include rwd(1399) {
                width: 14px;
                margin-left: 15px;
            }
        }

        &:hover {

            // color: darken($color-primary, 10%);
            img {
                transform: translateX(5px);
            }
        }

        @include rwd(1399) {
            font-size: 14px;
        }
    }
}
