<div class="mainsection">
  <div class="container">
    <div class="main-todo-div">
      <div class="inner-div-todo">
        <div class="d-flex align-items-center">
          <div class="me-3">
            <div>
              <h2 class="font-semibold family-auto m-0">TODO APP</h2>
              <h4 class="font-semibold mt-2">Let's get started</h4>
              <p>Create an account to get started with TODO APP</p>
            </div>
            <div>
              <form
                [formGroup]="createAccount"
                (ngSubmit)="signUp(createAccount.value)"
              >
                <div class="mb-3">
                  <label for="name" class="form-label">Full Name</label>
                  <div class="responsive-icon">
                    <input
                      type="text"
                      class="form-control form-css"
                      placeholder="Enter your full name"
                      formControlName="fullname"
                      name="fullname"
                      required
                    />
                    <i class="fas fa-user main-icon-form-inner"></i>
                  </div>
                  <div *ngIf="submit && signUpFormController.fullname.errors">
                    <p
                      *ngIf="signUpFormController.fullname.errors.required"
                      class="error-in-validation"
                    >
                      Field is Required !
                    </p>
                    <p
                      *ngIf="signUpFormController.fullname.errors.minlength"
                      class="error-in-validation"
                    >
                      Name shoule be more than 4 letters
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="gender" class="form-label">Gender</label> <br />
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="Radio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="Radio1">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="Radio2"
                      value="option2"
                    />
                    <label class="form-check-label" for="Radio2">Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="Radio3"
                      value="option3"
                    />
                    <label class="form-check-label" for="Radio3">Others</label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="date" class="form-label">DOB</label>
                  <div class="responsive-icon">
                    <input
                      type="date"
                      class="form-control form-css"
                      placeholder="Enter your date"
                      formControlName="date"
                      name="date"
                      required
                    />
                    <!-- <i class="fas fa-calendar-week main-icon-form-inner"></i> -->
                  </div>
                  <div *ngIf="submit && signUpFormController.date.errors">
                    <p
                      *ngIf="signUpFormController.date.errors.required"
                      class="error-in-validation"
                    >
                      Field is Required !
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="number" class="form-label">Phone</label>
                  <div class="">
                    <div class="responsive-icon">
                      <input
                        type="number"
                        class="form-control form-css"
                        placeholder="Enter your number"
                        formControlName="phonenumber"
                        name="phonenumber"
                        required
                      />
                      <i class="fas fa-phone-alt main-icon-form-inner"></i>
                    </div>
                  </div>
                  <div *ngIf="submit && signUpFormController.phonenumber.errors">
                    <p
                      *ngIf="signUpFormController.phonenumber.errors.required"
                      class="error-in-validation"
                    >
                      Field is Required !
                    </p>
                    <p
                      *ngIf="signUpFormController.phonenumber.errors.pattern"
                      class="error-in-validation"
                    >
                      Invalid phone number.
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <div class="responsive-icon">
                    <input
                      type="email"
                      class="form-control form-css"
                      placeholder="Enter your email address"
                      formControlName="email"
                      name="email"
                      required
                    />
                    <i
                      class="fas fa-times password-icon-css-invalid"
                      matSuffix
                      *ngIf="
                        createAccount.controls['email'].invalid &&
                        createAccount.controls['email'].touched
                      "
                    ></i>
                    <i
                      class="fas fa-check password-icon-css-valid"
                      matSuffix
                      *ngIf="createAccount.controls['email'].valid"
                    ></i>
                    <i class="fas fa-envelope main-icon-form-inner"></i>
                  </div>
                  <div *ngIf="submit && signUpFormController.email.errors">
                    <p
                      *ngIf="signUpFormController.email.errors.required"
                      class="error-in-validation"
                    >
                      Field is Required !
                    </p>
                    <p
                      *ngIf="signUpFormController.email.errors.pattern"
                      class="error-in-validation"
                    >
                      Email must be a valid
                    </p>
                  </div>
                </div>
                <button type="submit" class="btn btn-danger w-100" (click)="createAccounts()">Next</button>
              </form>
              <div class="create-account-css">
                <p>
                  Already have an account?
                  <a routerLink="/login">Login</a>
                </p>
              </div>
            </div>
          </div>
          <div>
            <img
              src="{{ createImage }}"
              alt="{{ createImg }}"
              class="img-fluid d-none d-lg-block"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
