<div class="main_section">
    <div class="container">
      <div class="main__todo__div">
        <div class="inner__div__todo">
          <div class="d-flex align-items-center">
            <div class="me-3">
              <div>
                <h2 class="font__semibold family-auto m-0">TODO APP</h2>
                <h4 class="font__semibold mt-2">Reset Password</h4>
                <p>Please choose your new password</p>
              </div>
              <div>
                <form #resetpassword="ngForm" [formGroup]="resetPassword" (ngSubmit)="passwordReset(resetpassword.value)">
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="responsive__icon">
                      <input
                        formControlName="password"
                        name="password"
                        type="password"
                        class="form-control form__css"
                        placeholder="Enter your Password"
                        required
                      />
                      <i class="fas fa-lock main_icon_form_inner"></i>
                    </div>
                    <div *ngIf="submit && all.password.errors">
                      <p
                        *ngIf="all.password.errors.required"
                        class="error__in__validation"
                      >
                        Password is Required
                      </p>
                      <p
                        *ngIf="all.password.errors.minlength"
                        class="error__in__validation"
                      >
                        Must be atleast 8 characters!
                      </p>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Confirm Password</label>
                    <div class="responsive__icon">
                      <input
                        formControlName="confirmpassword"
                        name="confirmpassword"
                        type="password"
                        class="form-control form__css"
                        placeholder="Enter your Confirm Password"
                        required
                      />
                      <i class="fas fa-lock main_icon_form_inner"></i>
                    </div>
                    <div *ngIf="submit && all.confirmpassword.errors">
                      <p
                        *ngIf="all.confirmpassword.errors.required"
                        class="error__in__validation"
                      >
                        Confirm Password is Required
                      </p>
                      <p
                        *ngIf="all.confirmpassword.errors.mustMatch"
                        class="error__in__validation"
                      >
                        Password do not match
                      </p>
                    </div>
                  </div>
                  <div class="forgot_password_css_inner">
                    <p><a routerLink="/forget-password">Forgot Password?</a></p>
                  </div>
                  <button type="submit" class="btn btn-danger w-100">
                    Reset Password
                  </button>
                </form>
                <div class="create__account_css">
                  <p>
                    Not registered yet?
                    <a routerLink="/create-account">Create a new account</a>
                  </p>
                </div>
              </div>
            </div>
            <div>
              <img
                src="{{ resetPasswordImg }}"
                alt="{{ resetPasswordImgAlt }}"
                class="img-fluid d-none d-lg-block"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  